<div class="header container">
  <div class="header-left"> 
    <div class="menu-icon"><a href="javascript:void(0)" title="Menu"><i class="fa fa-bars"></i></a></div>
    {% include 'header-logo' %} 
  </div> 
  <div class="header-center hidden-sm">
    <div class="main-nav wrapper-top-menu">
      <div class="container">
        <div id="main-top-nav" class="main-top-nav">
          {% include 'header-logo-sticky' %}
          <!-- Main Menu -->
          {% include 'main-menu' %}
          <!-- End Main Menu --> 
        </div>
      </div>
    </div>
  </div>
  <div class="header-right">
    <div class="cart-area">  
      {% include 'header-setting' %}
      <div class="top-links-area show-icon">
        <div class="top-links-icon">
          <a href="javascript:;">{{ 'header.settings.links' | t }}</a>
        </div>
        {% section 'header-toplink-menu' %}
      </div> 
      <a class="my-account" href="/account"><i class="icon-user-2"></i></a>
      <a class="my-wishlist wishlist-popup" href="javascript:void(0)"><i class="icon-wishlist-2"></i></a>
      <div class="search-area show-icon">
        <a href="javascript:void(0);" class="search-icon"><span><i class="icon-magnifier"></i></span></a>
        {% include 'header-search' %}
      </div>
      <div class="mini-cart">
        {% include 'header-cart' %}
      </div>
    </div> 
  </div> 
</div> 