.header-container.type11{border:0;}
.header-container.type11 .top-links-container{font-family:Poppins;padding:0;border:0;font-size:12px;min-height:56px;letter-spacing:.025em;font-weight:600;}
.header-container.type11 .top-links-container .header-left, .header-container.type11 .top-links-container .header-right{flex:auto;}
.header-container.type11 .top-links-container .header-right > *{margin-left:.875rem;}
.header-container.type11 .top-links-container span.split{display:none;}
.header-container.type11.header-overlap:not(.sticky-header){background-color:transparent;background-image:none;}
.header-container.type11 .header{padding-top:28px;padding-bottom:28px;}
.header-container.type11 .header .header-left, .header-container.type11 .header .header-right{flex:auto;}
.header-container.type11 .header .header-right > *{margin-left:.875rem;}
@media (max-width:575px){.header-container.type11 .header .header-right > *{margin-left:.5rem;}}
.header-container.type11 .popup-menu .popup ul.sub-menu{min-width:130px;}
.header-container.type11 .language-wrapper{margin-right:-2px;}
.header-container.type11 .compare-link, .header-container.type11 .currency-wrapper{margin-right:3px;}
.header-container.type11 .currency-wrapper > a, .header-container.type11 .language-wrapper > a, .header-container.type11 .compare-link > a{font-size:1em;font-weight:inherit;line-height:26px;padding-right:19px;padding-left:0;}
.header-container.type11 .currency-wrapper > a i, .header-container.type11 .language-wrapper > a i, .header-container.type11 .compare-link > a i{font-size:inherit;}
.header-container.type11 .currency-wrapper > a i:before, .header-container.type11 .language-wrapper > a i:before, .header-container.type11 .compare-link > a i:before{-webkit-font-smoothing:inherit;}
.header-container.type11 .separator{height:2.5em;border-left:1px solid rgba(153, 153, 153, 0.25);display:inline-block;}
.header-container.type11 .menu-icon{padding-left:0;padding-right:14px;display:inline-block;}
.header-container.type11 .my-account, .header-container.type11 .wishlist-popup{display:inline-block;padding:0 .125rem;font-size:24px;vertical-align:middle;}
.header-container.type11 .my-account i, .header-container.type11 .wishlist-popup i{font-size:27px;display:block;position:relative;}
.header-container.type11 .wishlist-popup{padding:0;}
.header-container.type11 .search-area{position:relative;margin-right:0;order:0;}
@media (max-width:575px){.header-container.type11 .search-area{display:none;}
}
.header-container.type11 .search-area .search-icon{font-size:19px;vertical-align:middle;width:40px;line-height:40px;height:40px;}
.header-container.type11 .search-area .search-icon i:before{font-weight:600;}
.header-container.type11 .search-area .search-extended{border-radius:0;max-width:396px;right:-38px;}
@media (max-width:991px){.header-container.type11 .search-area .search-extended{background-color:#fff;}
  .header-container.type11 .search-area .search-extended form input, .header-container.type11 .search-area .search-extended form button{color:#777;}
  .header-container.type11 .search-area .search-extended form input::-webkit-input-placeholder, .header-container.type11 .search-area .search-extended form button::-webkit-input-placeholder{color:#777;}
}
.header-container.type11 .search-area .searchform input[type=text]{height:34px;}
.header-container.type11 .search-area .searchform .searchsubmit::after{width:25px;font-size:16px;color:#65829d;}
.header-container.type11 .main-nav{border-right:1px solid #2c3035;margin-right:1.3em;padding-right:1em;}
.header-container.type11 .main-nav ul.top-navigation > li{pointer-events:all;background:none !important;float:left;display:block;}
.header-container.type11 .main-nav ul.top-navigation > li > a{padding-left:15px;padding-right:15px;line-height:26px;letter-spacing:.025em;position:relative;}
.header-container.type11 .cart-area{position:relative;}
.header-container.type11 .cart-area .mini-cart .cart-wrapper{margin-top:12px;}
.header-container.type11.sticky-header .header-main{position:fixed;width:100%;top:0;background-color:#fff;box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.06);z-index:9;}
.header-container.type11.sticky-header .header{padding-top:8px;padding-bottom:8px;}
.header-container.type11.sticky-header .site-logo img{transform:scale(0.72);transform-origin:left center;}
.hamburguer-btn{background:transparent;outline:0 !important;border:none;width:24px;height:36px;padding:0;margin:15px;display:block;position:relative;cursor:pointer;}
.porto-popup-menu .hamburguer-btn{margin:0 15px;}
@media (max-width:575px){.porto-popup-menu .hamburguer-btn{margin:0 .25rem 0 0;}}
.hamburguer-btn .hamburguer span{position:absolute;top:50%;left:0;width:100%;height:2px;transition:width .3s;transform:translateY(-50%);background:#333;-webkit-backface-visibility:hidden;}
.hamburguer-btn .hamburguer span:nth-child(1){top:30%;}
.hamburguer-btn .hamburguer span:nth-child(3){top:70%;}
.hamburguer-btn .close{opacity:0;transition:all .3s;float:right;font-size:1.5rem;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;}
.hamburguer-btn .close span{position:absolute;top:50%;left:50%;width:0;height:1px;background:#333;transition:all .3s;transform-origin:50% 0;}
.hamburguer-btn .close span:nth-child(1){transform:translateX(-50%) rotate(45deg);}
.hamburguer-btn .close span:nth-child(2){transform:translateX(-50%) rotate(-45deg);}
.porto-popup-menu .hamburguer-btn .close span{background:#fff;}
.hamburguer-btn.active .hamburguer{opacity:0;}
.hamburguer-btn.active .close{opacity:1;transition:all .3s;}
.hamburguer-btn.active .close span{width:80%;transition:inherit;}
.hamburguer-btn.active .close span:nth-child(2){transition-delay:.3s;}
.porto-popup-menu{line-height:0;}
.porto-popup-menu .main-menu{display:none;height:80%;}
@media (min-width:992px){.porto-popup-menu .main-menu{height:50%;}}
.porto-popup-menu .main-menu:not(.scroll-content){overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;min-width:80%;}
.porto-popup-menu .main-menu > li.menu-item .popup{transform:none;}
.porto-popup-menu .main-menu .sub-menu{display:none;padding:10px 0;}
.porto-popup-menu .main-menu li.menu-item{display:block;}
.porto-popup-menu .main-menu li.menu-item > a{position:relative;left:0;font-family:Poppins;font-weight:400;}
.porto-popup-menu .main-menu li.menu-item.opened > .sub-menu{display:block;}
.porto-popup-menu .main-menu li.menu-item:hover > a{left:5px;}
.porto-popup-menu .main-menu > li.menu-item > a{font-size:24px;font-weight:600;line-height:30px;letter-spacing:-.12px;color:#fff;padding:9px 12px 9px 12px;text-transform:uppercase;}
.porto-popup-menu.opened .main-menu li.menu-item > a{width:100%;display:block;text-align:center;transition:color .25s,left .25s;}
.porto-popup-menu .sub-menu{line-height:22px;font-size:18px;font-weight:600;}
.porto-popup-menu .sub-menu a{color:#a8a8a8 !important;}
.porto-popup-menu .sub-menu a:hover{color:#fff !important;}
.porto-popup-menu .sub-menu li.menu-item, .porto-popup-menu .sub-menu li.menu-item > a{line-height:inherit;}
.porto-popup-menu .sub-menu li.menu-item > a{padding:.25rem 1rem;}
.porto-popup-menu .sub-menu .sub-menu{font-size:.8em;opacity:0.7;}
.porto-popup-menu .hamburguer-btn{margin:0 15px;}
.porto-popup-menu.opened{position:fixed;left:0;top:0;width:100%;height:100%;z-index:1001;background:rgba(51, 51, 51, 0.99);display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;transition:background .25s;margin:0 !important;}
.porto-popup-menu.opened .hamburguer-btn{position:absolute;right:15px;top:30px;z-index:9;}
.porto-popup-menu.opened .main-menu{display:block;}
.porto-popup-menu.opened .main-menu > li.menu-item{float:none;}
.porto-popup-menu.opened .main-menu > li.menu-item > a{width:100%;text-align:center;transition:color .25s,left .25s;}
.porto-popup-menu.opened .scroll-wrapper{width:100%;max-width:600px;}
@media (min-width:992px){.porto-popup-menu.opened .scroll-wrapper{width:50%;}}
