.header-container.type4{border-top-width:0;}
.header-container.type4 .header-left{display:flex;align-items:center;}
.header-container.type4 .site-logo{flex:0;padding:10px 15px;}
@media (max-width:767px){.header-container.type4 .site-logo img{max-width:90px !important;}}
.header-container.type4 .top-links-area{line-height:1;}
@media (min-width:992px){.header-container.type4 .top-links-area{margin-right:20px;}}
.header-container.type4 .top-links-area .top-links-icon{font-size:12px;}
.header-container.type4 .top-links-area .top-links-icon a{font-weight:700;}
.header-container.type4 .top-links-area .top-links-icon:before{font-weight:600;-webkit-font-smoothing:antialiased;}
.header-container.type4 .top-links-area .links li{padding:5.5px 12px;font-size:11px;text-align:left;text-transform:inherit;white-space:nowrap;font-weight:600;border:none;letter-spacing:.025em;}
.header-container.type4 .top-links-area .links li a{font-weight:inherit;}
.header-container.type4 .header{padding-top:25px;padding-bottom:25px;width:100%;}
.header-container.type4 .header .currency-wrapper, .header-container.type4 .header .language-wrapper{margin-right:9px;}
@media (max-width:767px){.header-container.type4 .header .currency-wrapper, .header-container.type4 .header .language-wrapper{display:none;}}
.header-container.type4 .header .currency-wrapper > a, .header-container.type4 .header .language-wrapper > a, .header-container.type4 .header .compare-link > a{border:none;font-size:12px;font-weight:700;line-height:24px;text-transform:uppercase;}
.header-container.type4 .header .currency-wrapper > a i:before, .header-container.type4 .header .language-wrapper > a i:before, .header-container.type4 .header .compare-link > a i:before{font-weight:600;}
.header-container.type4 .main-nav{flex:auto;width:auto !important;padding:0;}
.header-container.type4 .main-nav > .container{max-width:100%;padding:0;}
.header-container.type4 .searchform input[type=text]{height:40px;padding:0 225px 0 25px;}
.header-container.type4 .searchform .searchsubmit{right:0;width:46px;color:#606669;font-size:0;border-radius:0 30px 30px 0;font-weight:400;}
.header-container.type4 .searchform .searchsubmit:after{font-size:16px;}
.header-container.type4 .search-by-category{right:45px;}
.header-container.type4 .search-by-category .input-dropdown-inner{height:40px;border-left:1px solid rgba(129, 129, 129, 0.1);border-right:1px solid rgba(129, 129, 129, 0.1);line-height:40px;min-width:150px;}
.header-container.type4 .search-area{width:40px;height:40px;line-height:40px;text-align:center;}
@media (max-width:575px){.header-container.type4 .search-area{display:none !important;}}
.header-container.type4 .search-area > a{font-size:20px;display:block;width:auto;}
.header-container.type4 .search-area > a i:before{font-weight:600;-webkit-font-smoothing:antialiased;}
.header-container.type4 .search-area .search-extended{border-radius:30px;}
@media (max-width:767px){.header-container.type4 .search-area .search-extended{width:350px;}}
.header-container.type4 .top-navigation li.level0 a.level-top{padding-top:18px;padding-bottom:18px;letter-spacing:-.25px;}
.header-container.type4 .top-navigation li.level0 a.level-top > span > .cat-label{top:0;}
.header-container.type4 .header-contact .my-account{padding:0;}
.header-container.type4 .header-contact > a i{display:block;margin:0;font-size:27px;}
.header-container.type4 .custom-block{border:none;font-size:16px;line-height:1em;}
.header-container.type4 .custom-block a{padding:0 .125rem;font-size:24px;}
.header-container.type4 .custom-block a i{margin:0 5px;font-size:26px;}
.header-container.type4 .mini-cart{position:relative;line-height:38px;margin-left:.5rem;}
.header-container.type4 .mini-cart .icon-cart-header{top:0;}
.header-container.type4 .mini-cart .icon-cart-header .cart-total{top:2px;}
@media (max-width:991px){.header-container.type4 .header{padding-top:8px;padding-bottom:8px;}
  .header-container.type4 .site-logo{padding:10px 0;}
  .header-container.type4 .header-center{padding:0;flex:none;}
  .header-container.type4 .header-right{margin-left:0;flex:auto;}
  .header-container.type4 .search-icon i:before{font-weight:600;}
  .header-container.type4 .search-area.show-icon-tablet .search-extended::before{display:block;position:absolute;top:-22px;right:75px;border-bottom-color:#dfdfdf;}
  .header-container.type4 .search-area.show-icon-tablet .search-extended{right:-75px;border-color:#dfdfdf;border-width:4px;border-style:solid;}
  .header-container.type4 .menu-icon{margin-right:5px;}
  .header-container.type4 .custom-block{margin-left:0;}
  .header-container.type4 .cart-area{margin-left:5px;}
  .header-container.type4 .navigation-wrapper{display:none;}
  .header-container.type4 .top-links-area ul.links{left:0;padding:5px 0;}
  .header-container.type4 .top-links-area ul.links li{padding:2px 0;}
  .header-container.type4 .top-links-area ul.links li a{padding:0 10px;}
}
@media (max-width:1220px){.header-container.type4 .header-left{display:none;}
  .header-container.type4 .menu-icon{display:inline-block;}
}
.header-container.type4.sticky-header{position:fixed;top:0;left:0;width:100%;margin:0;padding:0;backface-visibility:hidden;-webkit-backface-visibility:hidden;box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);z-index:99;}
.header-container.type4.sticky-header > .container{min-height:60px;}
.header-container.type4.sticky-header .site-logo{padding:0 15px;}
@media (max-width:991px){.header-container.type4.sticky-header .site-logo{padding:0;}}
.header-container.type4.sticky-header .header{padding-top:0;padding-bottom:0;}
