.widget-sidebar .widget-title{font-size:15px;}
.widget-sidebar .widget_newsletter form{flex-wrap:wrap;}
.widget-sidebar .widget_newsletter .new-text, .widget-sidebar .widget_newsletter .new-button{display:block;flex:0 0 100%;margin:0 0 1.25rem;}
.widget-sidebar .widget_newsletter .new-text{position:relative;margin-bottom:16px;}
.widget-sidebar .widget_newsletter .new-text:before{content:"\e01f";font-family:'suisseintl';position:absolute;left:16px;top:14px;line-height:20px;font-size:15px;color:#222529;z-index:1;}
.widget-sidebar .widget_newsletter input{font-size:13px;border:none;box-shadow:none;border-radius:30px !important;height:48px;padding:12px 12px 12px 40px;width:100%;color:#777;}
.widget-sidebar .widget_newsletter button{width:auto;height:auto;padding:.8em 2em;border-radius:0;font-size:13px;font-weight:700;border-radius:0 !important;border:solid 1px transparent;}
.widget-sidebar.testimonials{border:#0188cc solid 3px;border-radius:2px;}
.widget-sidebar.testimonials .owl-banner{margin-bottom:40px;}
.widget-sidebar.testimonials .owl-dots{position:absolute;left:57px;bottom:0;margin-top:10px;margin-bottom:-10px;}
.widget-sidebar .testimonial .testimonial-author{margin:16px 0 8px 16px;}
.widget-sidebar .testimonial .testimonial-author img{border-radius:50% !important;}
.widget-sidebar .testimonial .testimonial-author strong{font-size:16px;}
.widget-sidebar .testimonial .testimonial-author span{font-size:12.8px;font-weight:400;}
.widget-sidebar .testimonial blockquote{padding:15px 15px 15px 52px;}
.widget-sidebar .testimonial blockquote:before{font-family:'suisseintl';font-size:54px;color:#222529;font-weight:900;left:12px;}
.widget-sidebar .testimonial.testimonial-style-4 blockquote p{line-height:inherit;font-size:13px;letter-spacing:.001em;}
.widget-sidebar .post-carousel .owl-dots{text-align:left;padding-left:0;}
.widget-sidebar .nav-accordion{padding:.7143em;padding-left:1.25rem;padding-right:1.25rem;}
.widget-sidebar .nav-accordion li{padding-left:0;border-bottom-color:#e7e7e7;}
.widget-sidebar .nav-accordion li:last-child{border-bottom:none;}
.widget-sidebar .nav-accordion li a{font-size:.875rem;font-weight:600;padding-top:.625rem;padding-bottom:.625rem;line-height:24px;color:#777;}
.widget-sidebar .nav-accordion li span.collapse, .widget-sidebar .nav-accordion li span.expand{font-size:11px;right:-2.5px;top:12px;}
.widget-sidebar .nav-accordion li span.collapse::after, .widget-sidebar .nav-accordion li span.expand::after{color:inherit;font-size:1.2em;color:#222529;padding:0;text-align:center;right:0;}
.widget-sidebar .nav-accordion li span.collapse:after{content:'\e81c';}
.widget-sidebar .nav-accordion li span.expand:after{content:'\e81b';}
.widget-boxslide{padding:0 30px 10px;border:#dae2e6 solid 1px;border-radius:2px;}
.widget-boxslide .owl-box-icon{padding-bottom:0.25rem;margin-bottom:1.5rem;}
.widget-boxslide .porto-sicon-box{margin-bottom:.5rem;}
.widget-boxslide .porto-sicon-top{position:relative;padding-top:25px;}
.widget-boxslide .porto-sicon-top .porto-just-icon-wrapper{line-height:1em;}
.widget-boxslide .porto-sicon-top:before{content:'';position:absolute;top:0;height:25px;left:50%;border-left:1px solid #e7e7e7;}
.widget-boxslide .top-icon .porto-just-icon-wrapper{margin-bottom:15px;}
.widget-boxslide .top-icon .porto-sicon-header{margin-bottom:.75rem;}
.widget-boxslide .porto-sicon-header + .porto-sicon-description{margin-top:7px;}
.widget-boxslide .porto-sicon-header .porto-sicon-title{font-family:'suisseintl';position:relative;display:inline-block;}
.widget-boxslide .porto-sicon-title sup{font-weight:600;font-size:60%;}
.widget-boxslide .porto-sicon-title sub{font-family:'suisseintl';font-size:20px;text-transform:uppercase;font-weight:400;position:absolute;right:4px;bottom:3px;line-height:1.4em;}
.widget-boxslide .porto-sicon-read{display:inline-block;text-decoration:none;font-size:13px;font-weight:700;color:#fff;background:#222529;padding:9.75px 29.25px;margin-top:16px;}
.widget-boxslide .owl-dots{margin-top:10px;margin-bottom:-10px;}
.tab-product-collection{position:relative;}
.tab-product-collection .category-list .tab-selector{border-bottom:2px solid #e7e7e7;background:none !important;margin-bottom:20px;}
.tab-product-collection .category-list .tab-selector ul li a{position:relative;padding:10px 0;font-size:14px;font-weight:700;line-height:24px;bakground:none;position:relative;border:none;margin-right:31px;letter-spacing:-.025em;margin-bottom:2px;}
.tab-product-collection .category-list .tab-selector ul li a.active{color:#ee3d43;}
.tab-product-collection .category-list .tab-selector ul li a.active::after{position:absolute;bottom:-2px;left:0;width:100%;height:2px;background-color:#ee3d43;content:'';}