.testimonial{margin-bottom:20px;}
.testimonial blockquote{border:0;margin:0;padding:2.5rem 4rem 2.5rem 4.5rem;position:relative;}
.testimonial blockquote:before{left:20px;top:20px;content:"\201C";font-size:80px;font-style:normal;line-height:1;position:absolute;font-family:porto;}
.testimonial blockquote p{font-size:1.2em;line-height:1.5;margin-bottom:0;color:inherit;}
.testimonial .testimonial-arrow-down{border-left:11px solid transparent;border-right:11px solid transparent;border-top:8px solid #ccc;height:0;margin:0 0 0 40px;width:0;}
.testimonial .testimonial-author{display:-webkit-flex;display:-ms-flexbox;display:flex;margin:12px 0 0 0;}
.testimonial .testimonial-author .testimonial-author-thumbnail{width:auto;}
.testimonial .testimonial-author img{max-width:25px;}
.testimonial .testimonial-author strong{display:block;margin-bottom:2px;font-size:1rem;font-weight:700;}
.testimonial .testimonial-author span{color:#666;display:block;font-size:.8rem;font-weight:600;}
.testimonial .testimonial-author p{color:#999;margin-left:.75rem;text-align:left;line-height:1.2;}
.testimonial.testimonial-style-2{text-align:center;}
.testimonial.testimonial-style-2 blockquote{background:transparent !important;padding:20px;}
.testimonial.testimonial-style-2 blockquote:before{display:none;}
.testimonial.testimonial-style-2 .testimonial-arrow-down{display:none;}
.testimonial.testimonial-style-2 .testimonial-author{-ms-flex-direction:column;flex-direction:column;padding:0;margin:6px 0 0;}
.testimonial.testimonial-style-2 .testimonial-author img{margin:0 auto 10px;max-width:60px;}
.testimonial.testimonial-style-2 .testimonial-author p{text-align:center;padding:0;margin:0;}
.testimonial.testimonial-style-3 blockquote{padding:12px 30px;}
.testimonial.testimonial-style-3 blockquote:before{top:5px;left:9px;font-size:35px;}
.testimonial.testimonial-style-3 blockquote:after{font-size:35px;bottom:-5px;}
.testimonial.testimonial-style-3 blockquote p{font-size:1em;font-style:normal;}
.testimonial.testimonial-style-3 .testimonial-author{margin-left:8px;}
.testimonial.testimonial-style-3 .testimonial-author img{max-width:55px;}
.testimonial.testimonial-style-3 .testimonial-arrow-down{margin-left:20px;}
.testimonial.testimonial-style-4{padding:7px;border:1px solid;box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.04);}
.testimonial.testimonial-style-4 blockquote{background:transparent !important;padding:12px 30px;}
.testimonial.testimonial-style-4 blockquote:before{top:5px;left:9px;font-size:35px;}
.testimonial.testimonial-style-4 blockquote:after{font-size:35px;bottom:-5px;}
.testimonial.testimonial-style-4 blockquote p{font-size:1em;font-style:normal;}
.testimonial.testimonial-style-4 .testimonial-arrow-down{display:none;}
.testimonial.testimonial-style-4 .testimonial-author{margin-left:30px;margin-bottom:15px;-ms-flex-align:center;align-items:center;}
.testimonial.testimonial-style-4 .testimonial-author img{max-width:55px;}
.testimonial.testimonial-style-4 .testimonial-author p{margin-bottom:0;}
.testimonial.testimonial-style-5{text-align:center;}
.testimonial.testimonial-style-5 blockquote{background:transparent !important;padding:6px 20px;}
.testimonial.testimonial-style-5 blockquote:before{display:none;}
.testimonial.testimonial-style-5 blockquote p{font-size:1.2em;font-style:normal;}
.testimonial.testimonial-style-5 .testimonial-arrow-down{display:none;}
.testimonial.testimonial-style-5 .testimonial-author{display:block;padding:15px 0 0;margin:12px 0 0;}
.testimonial.testimonial-style-5 .testimonial-author img{margin:0 auto 10px;}
.testimonial.testimonial-style-5 .testimonial-author p{text-align:center;padding:0;margin:0;}
.testimonial.testimonial-style-6{text-align:center;}
.testimonial.testimonial-style-6 blockquote{background:transparent !important;border:0;padding:0 10%;}
.testimonial.testimonial-style-6 blockquote:before{display:none;}
.testimonial.testimonial-style-6 blockquote i.fa-quote-left{font-size:34px;position:relative;left:-5px;}
.testimonial.testimonial-style-6 blockquote p{font-size:24px;line-height:30px;}
.testimonial.testimonial-style-6 blockquote span{font-size:16px;line-height:20px;color:#999;position:relative;left:-5px;}
.testimonial.testimonial-style-6 .testimonial-arrow-down{display:none;}
.testimonial.testimonial-style-6 .testimonial-author{-ms-flex-direction:column;flex-direction:column;padding:0;margin:6px 0 0;}
.testimonial.testimonial-style-6 .testimonial-author img{margin:15px auto 10px;}
.testimonial.testimonial-style-6 .testimonial-author p{text-align:center;padding:0;margin:0;}
.testimonial.testimonial-with-quotes{text-align:center;}
.testimonial.testimonial-with-quotes blockquote{background:transparent !important;}
.testimonial.testimonial-with-quotes blockquote:before, .testimonial.testimonial-with-quotes blockquote:after{display:block !important;left:10px;top:0;content:"\201C";font-size:80px;font-style:normal;line-height:1;position:absolute;}
@media (max-width:575px){.testimonial.testimonial-with-quotes blockquote:before, .testimonial.testimonial-with-quotes blockquote:after{display:none !important;}}
.testimonial.testimonial-with-quotes blockquote:after{content:"\201D";left:auto;right:10px;top:auto;bottom:-.5em;}
.testimonial.testimonial-with-quotes blockquote p{padding:0 40px;}
@media (max-width:575px){.testimonial.testimonial-with-quotes blockquote p{padding:0;}}
.testimonial.testimonial-with-quotes blockquote img{margin:15px auto 10px;width:60px;}
.testimonial.testimonial-with-quotes blockquote .testimonial-author p{margin:0 auto;text-align:center;}
.testimonial.testimonial-with-quotes.testimonial-light blockquote{color:#fff;}
.testimonial.testimonial-with-quotes.testimonial-light blockquote .testimonial-author span, .testimonial.testimonial-with-quotes.testimonial-light blockquote .testimonial-author strong{opacity:.6;color:#fff;}
.testimonial.testimonial-remove-right-quote blockquote:after{content:none;}
.testimonial.testimonial-transparent-background blockquote{background:transparent !important;}
.testimonial.testimonial-alternarive-font blockquote p{font-family:suisseintl !important;font-style:italic;font-size:1.2em;}
.testimonial.testimonial-no-borders{border-width:0;box-shadow:none;}
.slick-slider .testimonial{margin-bottom:0;}