.sidebar .icon-up-dir::before{content:'\e81b';}
.sidebar .icon-down-dir::before{content:'\e81c';}
.sidebar .block-content{padding:0;}
.sidebar .block-content ul li span{top:5.5px;right:-2.5px;}
.sidebar .block-content ul li .collapse::after, .sidebar .block-content ul li .expand::after{padding:0;color:#222529;font-size:14px;text-align:center;}
.sidebar .block-content ul li .expand::after{content:'\e81b';}
.sidebar .block-content ul li .collapse::after{content:'\e81c';}
.sidebar .block-content > ul li{padding:0;border:0;line-height:24px;}
.sidebar .block-content > ul li a{color:#777;font-size:14px;font-weight:500;line-height:inherit;padding:4px 0;}
.sidebar .block-content > ul li ul{padding-left:1.0714em;}
.sidebar .block-content > ul.no-bullets li{margin:0 7px 7px 0;float:left;}
.sidebar .block-content > ul.no-bullets li a{display:block;padding:11px 14px;background-color:#e1e1e1;color:#7e7d79;font-family:suisseintl;font-size:14px;font-weight:400;line-height:11px;}
.sidebar .block-content > ul.no-bullets li a.active, .sidebar .block-content > ul.no-bullets li a:hover{color:#fff;text-decoration:none;}
.sidebar .block-content > ul.blog-tags{margin-top:15px;}
.sidebar .block-content iframe{width:100%;height:100%;margin-top:30px;}
.sidebar .block-content .category-products .products-list{margin-top:30px;}
.sidebar .banner-slide{margin:0 -15px;}
.sidebar .banner-slide .owl-carousel .item{position:relative;padding:0 15px;}
.sidebar .banner-slide .owl-carousel .item img{width:100%;}
.sidebar-right .block-content > ul li{padding:0;border:0;line-height:1.42857143;}
.sidebar-right .block-content > ul li a{color:#777;font-size:14px;}
.sidebar-right .block-content > ul.no-bullets li{margin:0 7px 7px 0;float:left;}
.sidebar-right .block-content > ul.no-bullets li a{display:block;padding:11px 14px;background-color:#e1e1e1;color:#7e7d79;font-family:suisseintl;font-size:14px;font-weight:400;line-height:11px;}
.sidebar-right .block-content > ul.no-bullets li a.active, .sidebar-right .block-content > ul.no-bullets li a:hover{color:#fff;text-decoration:none;}
.sidebar-right .block-content > ul.blog-tags{margin-top:15px;}
.html-sidebar{padding:2rem 20px 0;}
.html-sidebar h2{color:#313131;font-size:15px;font-weight:600;line-height:1.4;text-transform:uppercase;margin:0 0 15px;}
.html-sidebar h5{line-height:1;margin-bottom:13px;color:#7a7d82;font-family:'suisseintl';font-size:14px;font-weight:600;letter-spacing:.022em;}
.html-sidebar p{font-weight:400;font-size:14px;color:#666;line-height:1.42;letter-spacing:.01em;margin-bottom:0;}
.sidebar-toogle .block-title, .sidebar-cate-toogle .block-title{position:relative;}
.sidebar-toogle .block-title .collapse, .sidebar-cate-toogle .block-title .collapse{display:inline-block;width:1.8571em;height:1.8571em;line-height:1.7572em;position:absolute;right:-7px;top:50%;margin-top:-.9em;padding:0;cursor:pointer;text-align:center;transition:.25s;text-indent:-9999px;}
.sidebar-toogle .block-title .collapse:before, .sidebar-toogle .block-title .collapse:after, .sidebar-cate-toogle .block-title .collapse:before, .sidebar-cate-toogle .block-title .collapse:after{content:'';position:absolute;left:50%;top:50%;background:#222529;}
.sidebar-toogle .block-title .collapse:before, .sidebar-cate-toogle .block-title .collapse:before{width:2px;height:10px;margin-left:-1px;margin-top:-5px;display:none;}
.sidebar-toogle .block-title .collapse:after, .sidebar-cate-toogle .block-title .collapse:after{width:10px;height:2px;margin-left:-5px;margin-top:-1px;}
.sidebar-toogle .block-title.closed .collapse:before, .sidebar-cate-toogle .block-title.closed .collapse:before{display:block;}
.sidebar .canvas-inner > div:not(.block-layered-nav), .sidebar .canvas-inner .narrow-item{padding:20px;border-bottom:1px solid #e7e7e7;}
.sidebar .canvas-inner > div:not(.block-layered-nav):last-child{border-bottom:none;}
.sidebar .canvas-inner > div.main-sidebar-menu{padding:0;}
.sidebar .canvas-inner.sidebar-style-2 > div:not(.block-layered-nav), .sidebar .canvas-inner.sidebar-style-2 .narrow-item{margin-bottom:30px;padding:0;border-bottom:none;}
.sidebar .canvas-inner.sidebar-style-2 > div.main-sidebar-menu{padding:0;}
.sidebar .canvas-inner.sidebar-style-3 > div:not(.block-layered-nav), .sidebar .canvas-inner.sidebar-style-3 .narrow-item{border-bottom:none;padding:1rem 1.25rem 1rem 2.25rem;}
.sidebar .canvas-inner.sidebar-style-3 > div.main-sidebar-menu{padding:0;}
.sidebar .block .block-title{color:#313131;font-size:15px;font-weight:600;line-height:1.4;text-transform:uppercase;}
.sidebar .block .block-title h3{margin:0;font-size:inherit;font-weight:inherit;line-height:inherit;}
.sidebar .block .layer-filter, .sidebar .block .block-content{overflow:hidden;padding:.6631em 0;margin:0;}
.sidebar .block .layer-filter:last-child, .sidebar .block .block-content:last-child{padding-bottom:0;}
.sidebar .block .layer-filter.size, .sidebar .block .block-content.size{padding:11px 0;font-size:11px;}
.sidebar .block .layer-filter.size:last-child, .sidebar .block .block-content.size:last-child{padding-bottom:0;}
.sidebar .block.bestseller .block-title{margin-bottom:15px;}
.sidebar .block.bestseller .block-content{padding:0;padding-bottom:0;overflow:inherit;}
.sidebar .block.bestseller ul.product_list_widget{margin-bottom:0;}
.sidebar .block-layered-nav .block-content{padding:0;}
.block-layered-nav .block-content{padding:0;border:0;}
.sidebar-right .custom-block{margin-bottom:33px;border:0;background:0 0;color:#6b7a83}
.sidebar-right .custom-block .owl-dots{display:none}
.sidebar-right .custom-block-1{padding-bottom:0}
.sidebar-right .custom-block-1>div>div{display:flex;flex-wrap:nowrap;align-items:center;min-height:65px;margin-bottom:0;padding:17px 0;border-bottom:solid 1px #dee5e8}
.sidebar-right .custom-block-1>div>div:last-child{border-bottom:0}
.sidebar-right .custom-block-1>div>div i{border:0;color:#08c;font-size:40px}
.sidebar-right .custom-block-1>div>div h3{margin-left:16px;color:#6b7a83;font-size:14px;font-weight:600;letter-spacing:.005em;line-height:20px}

.html-sidebar{padding:2rem 20px 0;}
.html-sidebar h2{color:#313131;font-size:15px;font-weight:600;line-height:1.4;text-transform:uppercase;margin:0 0 15px;}
.html-sidebar h5{line-height:1;margin-bottom:13px;color:#7a7d82;font-family:'suisseintl';font-size:14px;font-weight:600;letter-spacing:.022em;}
.html-sidebar p{font-weight:400;font-size:14px;color:#666;line-height:1.42;letter-spacing:.01em;margin-bottom:0;}

.sidebar-style-2 .block .block-title{font-family:suisseintl;font-size:14px;font-weight:700;letter-spacing:.05em;line-height:1;padding:10px 0;border-bottom:2px solid #dfdfdf;margin-bottom:10px;}
.sidebar-style-2 .block .block-title h3{margin:0;font-size:inherit;font-weight:inherit;font-family:suisseintl;}
.sidebar-style-2 .block.bestseller .block-content{padding-bottom:0;}
.sidebar-style-2 .block-layered-nav .block-content{padding:0;}
.sidebar-style-2 .block-content ul li a{font-size:12px;line-height:27px;}
.sidebar-style-2 .narrow-by-list dd ol li{font-size:12px;}
.sidebar-style-2 .html-sidebar{padding:0 0 15px;}
.sidebar-style-2 .html-sidebar h2{font-family:suisseintl;font-size:14px;font-weight:700;letter-spacing:.05em;line-height:1;padding:10px 0;border-bottom:2px solid #dfdfdf;margin-bottom:10px;}
.sidebar-style-2 .html-sidebar h5{font-size:11px;color:#878787;}
.sidebar-style-2 .html-sidebar p{font-size:12px;margin-bottom:0;}
.sidebar-style-3{background-color:#ededea;border:none;}
.sidebar-style-3 .main-sidebar-menu{background:#fff;}
@media (min-width:992px){.sidebar-style-3 .main-sidebar-menu{padding-bottom:20px;margin-bottom:10px;}}
.sidebar-style-3 > .block{margin:0 0;}
.sidebar-style-3 .block .block-title{padding:5px 0 7px !important;border-bottom:1px solid rgba(34, 37, 41, 0.07);color:#313131;font-size:.75rem;font-weight:600;margin-bottom:.5rem;margin-left:-1rem;}
.sidebar-style-3 .block.bestseller .block-content{padding-bottom:0;}
.sidebar-style-3 .layer-filter, .sidebar-style-3 .block-content, .sidebar-style-3 .bestseller .block-content{border:0;}
.sidebar-style-3 .block-content ul li a{font-size:.75rem;line-height:27px;}
.sidebar-style-3 .narrow-by-list dd ol li{font-size:.75rem;}
.sidebar-style-3 .html-sidebar{padding-left:0;padding-right:0;padding-bottom:15px;margin-left:-1rem;}
.sidebar-style-3 .html-sidebar h2{margin:10px 0 20px;border-bottom:1px solid rgba(34, 37, 41, 0.07);padding:0 0 10px;font-size:.75rem;}
.sidebar-style-3 .html-sidebar h5{font-size:11px;color:#878787;padding-left:15px;}
.sidebar-style-3 .html-sidebar p{font-size:12px;padding-left:15px;margin-bottom:0;}
.sidebar-style-3 .owl-carousel.show-nav-title .owl-nav{margin-top:-39px;}