<!-- /templates/page.liquid --> 
{%- capture breadcrumb -%}
<section class="page-top page-header-7 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {%- section 'faq-page-heading' -%} 
      </div>
    </div>
  </div>
</section> 
{%- endcapture -%}
{%- if settings.sidebar_move == blank -%}
{{breadcrumb}}
{%- endif -%} 
<div class="container">
  {%- if settings.sidebar_move != blank -%}
  {{breadcrumb}}
  {%- endif -%}
  <div class="page-container"> 
    <div class="rte">  
      {%- section 'faq-page-shopping' -%}
      {%- section 'faq-page-payment' -%}
      {%- section 'faq-page-order' -%}
    </div>
  </div>
  <style type="text/css"> 
    .vc_custom_1496940694752 {
      margin-bottom: 20px !important
    }
    .vc_custom_1496940708254 {
      margin-bottom: 5vh !important
    }
    .vc_custom_1496940740070 {
      margin-bottom: 20px !important
    }
    .vc_custom_1496940764002 {
      margin-bottom: 5vh !important
    }
    .vc_custom_1493372598184 {
      margin-bottom: 20px !important
    }
    .vc_custom_1496940825311 {
      margin-bottom: 0px !important
    }
    .vc_custom_1484657242560 {
      padding-top: 0px !important
    }
    .vc_custom_1496939608738 {
      margin-bottom: 10px !important
    }
    .vc_custom_1496939651434 {
      margin-bottom: 22px !important
    }
    .vc_custom_1493299761637 {
      margin-top: -30px !important;
      margin-right: -30px !important;
      margin-bottom: -30px !important;
      margin-left: -30px !important
    }
    .vc_custom_1493299937177 {
      padding-top: 30px !important;
      padding-right: 30px !important;
      padding-bottom: 15px !important;
      padding-left: 30px !important
    }
    .vc_custom_1493299742195 {
      padding-top: 30px !important;
      padding-right: 30px !important;
      padding-bottom: 30px !important;
      padding-left: 30px !important;
      background-color: #333 !important
    }
    .vc_custom_1484144347493 {
      margin-bottom: 30px !important
    }
    .vc_custom_1493378287084 {
      margin-bottom: 20px !important
    }
    .vc_custom_1484657273903 {
      padding-top: 0px !important
    }
    .vc_custom_1493369598617 {
      margin-bottom: 15px !important
    }
    .vc_custom_1484657119633 {
      padding-top: 0px !important
    }
    .vc_custom_1484657123074 {
      padding-top: 0px !important
    }
    .vc_custom_1484657273903 {
      padding-top: 0px !important
    }
    .vc_custom_1493372577548 {
      margin-bottom: 15px !important
    }
    .vc_custom_1484657119633 {
      padding-top: 0px !important
    }
    .vc_custom_1484657123074 {
      padding-top: 0px !important
    }
    .vc_custom_1484657273903 {
      padding-top: 0px !important
    }
    .vc_custom_1493372593337 {
      margin-bottom: 15px !important
    }
    .vc_custom_1484657119633 {
      padding-top: 0px !important
    }
    .vc_custom_1484657123074 {
      padding-top: 0px !important
    }  
  </style>
</div>
